body {
  font-family: 'Roboto', sans-serif;
}

/* Navbar */

nav {
  width: 100%;
  float: left;
  background-color: lightblue;
}

.menu {
  padding: 8px;
  height: 21px;
}

.menu li {
  display: inline;
}

/* Padding and Margins */

.m-global {
  margin: 10% auto auto 5%
}

/* Font size */

.fs-150 {
  font-size: 150px
}
