/* Theme */

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a {
  color: black;
}

.btn {
  text-decoration: none;
  display: block;
  float: left;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  margin-top: 20px;
  padding: 15px 50px;
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
  border-width: thin;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: opacity 100ms ease-out, margin-top 100ms ease-out;
  background-color: gold;
}

.btn:hover {
  margin-top: 16px;
  opacity: 70%;
}

/* Navbar */

.menu {
  position: fixed;
  overflow: hidden;
  top: 0;
  height: 20px;
  width: 100%;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10%;
  text-decoration: none;
  background: #000;
  border-bottom: solid;
  border-width: thin;
}

.menu li {
  display: inline;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  padding-right: 30px;
  transition: opacity 100ms ease-out, margin-top 100ms ease-out;
}

.menu li:hover {
  opacity: 70%;
}

/* Padding and Margins */

.m-global {
  display: inline-block;
  box-sizing: border-box;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: calc(10% + 40px);
}

.m-2 {
  margin-left: 2%;
}

/* Decoration */

.c-white {
  color: white;
}

.c-black {
  color: black;
}

.c-gold {
  color: gold;
}

.deco-none {
  text-decoration: none;
}

/* Home - Index.html */

#hey-im-soocc {
  font-size: 90px;
  margin-bottom: 0;
  font-family: 'Holtwood One SC', serif;
}

#quick-link {
  font-size: 20px;
  color: rgb(9, 26, 178);
  text-decoration: none;
  font-weight: bold;
}

/* Default - Default.html */

.container{
  width: 100%;
  min-height: 33vh;
}

.grain{
  /*background: rgb(137, 203, 244);*/
  background: rgb(110, 162, 194);
  background-image: url(/assets/grain.png);
}

/* Art */
#my-dog {
  width: 280px;
  height: 230px;
  margin: 0 auto;
  position: relative;

  --main-color: #f0cf65;
  --ears-color: #f3d4d4;
  --brows-color: #ffffff;
  --eye-color: #221b1b;
  --mouth-color: #ffffff;
  --nose-color: #221b1b;
  --eye-while: #ffffff;
  --mouth-red:#e98c8c;
}
.ears,
.brows,
.mouth,
.nose {
  display: block;
  width: 100%;
  position: absolute;
}
.ears::before,
.ears::after {
  content: "";
  display: block;
  top: -5px;
      width: 80px;
    height: 100px;
  border-radius: 20px;
  position: absolute;
  border: 8px solid var(--main-color);
  background-color: var(--ears-color);
}
.ears::before {
  left:10px;
  transform: rotate(10deg);;
}
.ears::after {
  right: 10px;
  transform: rotate(-10deg);
}
.face {
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  position: relative;
  border-radius: 50% 50% 40% 40%;
  z-index: 2;
}
.brows {
  top: 75px;
  z-index: 3;
}
.brows::before,
.brows::after {
  content: "";
  display: block;
  width: 50px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--brows-color);
  position: absolute;
}
.brows::before {
  transform: rotate(-30deg);
  left: 55px;
}
.brows::after {
  transform: rotate(30deg);
  right: 55px;
}
.eye {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--eye-color);
  position: absolute;
  top: 115px;
  z-index: 3;
  animation: 4s blinking infinite;
}
.eye::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;

  background-color: var(--eye-while);
  position: absolute;
  top: 1px;
}
.eye.left::after {
  left: 0;
}
.eye.right::after {
  right: 0;
}
.eye.left {
  left: 76px;
}
.eye.right {
  right: 76px;
}
.mouth {
  top: 118px;
  z-index: 3;
}
.mouth::before,
.mouth::after {
  content: "";
  background-color: var(--mouth-color);
  position: absolute;
  width: 100px;
  height: 70px;
  left: 50%;
  margin-left: -50px;
  border-radius: 50%;
}
.mouth::after {
  width: 200px;
  height: 80px;
  margin-left: -100px;
  top: 15px;
}
.nose {
  width: 36px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--nose-color);
  left: 50%;
  margin-left: -18px;
  z-index: 4;
  top: 149px;
}
.mouth > span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--mouth-color);
  box-shadow: 0 3px 0 var(--nose-color);
  position: absolute;
  display: block;
  z-index: 2;
  top: 20px;
}
.mouth > span.left {
  left: 100px;
}
.mouth > span.right {
  right: 100px;
}

.mouth > span::after {
  content: "";
  width: 2px;
  height: 2px;
  border-radius: 2px;
  background-color: #000000;
  position: absolute;
  bottom: 10px;
  box-shadow: -4px 4px #000000, 4px 4px #000000, 8px -2px #000000,
    -8px -2px #000000;
}

@keyframes blinking {
  0%,
  50%,
  80% {
    background: linear-gradient(var(--eye-color) 100%, transparent 100%);
    --eye-while: #ffffff;
  }
  60%,
  100% {
    background: linear-gradient(
      transparent 18%,
      var(--eye-color) 25%,
      transparent 30%
    );
    --eye-while: transparent;
  }
}