<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="icon" type="image/x-icon" href="soocc.png">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="styles.css"/>
</head>
<body class="m-global">
  <nav>
    <ul class="menu">
      <li><a class="c-black deco-none" href="index">Home</a></li>
      <li><a class="c-black deco-none" href="about">About</a></li>
      <li><a class="c-black deco-none" href="contact">Contact</a></li>
    </ul>
  </nav>
  {{ content }}
</body>
</html>
