<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="icon" type="image/x-icon" href="assets/soocc.png">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="styles.css"/>
</head>
<body class="container noise">
  <nav class="container noise">
    <ul class="menu">
      <li><a class="c-black deco-none" href="https://soocc.dev">soocc</a></li>
      <li><a class="c-black deco-none">|</a></li>
      <li><a class="c-black deco-none" href="about">about</a></li>
      <li><a class="c-black deco-none" href="contact">contact</a></li>
    </ul>
  </nav>
  <div class="m-global">
    {{ content }}
  </div>
</body>
</html>
