<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="icon" type="image/x-icon" href="assets/soocc.png">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="styles.css"/>
</head>
<body class="container grain">
  <!-- Navbar -->
  <nav>
    <ul class="menu">
      <li><a class="c-gold deco-none" href="https://soocc.dev">SOOCC.</a></li>
      <li><a class="c-gold deco-none">|</a></li>
      <li><a class="c-gold deco-none" href="about">ABOUT</a></li>
      <li><a class="c-gold deco-none" href="about">CONTACT</a></li>
    </ul>
  </nav>

  <!-- Content -->
  <div class="m-global">
    {{ content }}
  </div>
</body>
</html>
